@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* use Montserrat */

*,:after,:before {
	box-sizing:border-box;
	background-color:inherit;
	color:inherit;
	margin:0;
	padding:0;
}

body {
	/* font-family: system-ui, sans-serif; */
	font-family: Montserrat, sans-serif; /* use Montserrat */
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1rem;
	color: rgb(22, 23, 26);
}

nav { /* ul */
    /* border-right: 1px solid #edf2f7; */
    border-right: 3px solid #bcc0c4; /* fix header */
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 2rem 0;
	color: #8c8e91; /* use color */
}

code,pre {
	background: rgb(236, 237, 238);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}

hr {
	/* background: #000; */
   /* height: 1px; */
   /* border: 0; */
   margin: 2rem 0; /* fix hr */
   border-bottom: 3px solid #bcc0c4; /* fix hr */
}

header {
	/* flex-basis:10rem; */
	flex-basis:18rem; /* use credit */
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
}

header,section {
	padding:1rem;
}

blockquote {
	font-style: italic;
    /* border-left: 5px solid #ececec; */
    border-left: 3px solid #bcc0c4; /* use color */
    padding-left: 1rem;
}

h1,h2,h3,h4,h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: .5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
	color: #8c8e91; /* use color */
}

.post ul, .project ul, .post ol  {
	//list-style-position: inside;
}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:60rem;
	margin:2rem auto;
	padding:1rem;
}

@media screen and (max-width: 45rem ) {

header li {
   display: inline;
	/* margin-right: 1rem; */
	margin-right: 1.5rem;
}

.logo {
	padding-bottom: 1rem;
}

header ul {
	/* border-bottom: 1px solid #edf2f7; */
}

nav { /* ul */
   border-right: 0px;
   border-bottom: 3px solid #bcc0c4; /* fix header */
   padding-bottom: 2rem; /* fix header */
}

.photos ul {
	margin-top: .5rem;
}

}

section {
	flex-basis:0;
	flex-grow:999;
	/* min-width:70%; */
	min-width:58.15%; /* use credit */
	display:flex;
	flex-direction:column;
}

figcaption {
    font-size: smaller;
}

/* custom CSS */

nav ul li i {
   margin-left: 8px;
   text-align: center;
   width: 18px;
}

.post li {
   margin-bottom: .5em; /* fix li */
}

.credit {
   display: none;
   font-size: 1rem;
   line-height: 2rem;
   margin: 1rem auto;
   text-align: center;
}

@media (max-width: 720px) {
.foot-credit {
   display: block; /* show credit */
}
}

@media (min-width: 721px) {
.head-credit {
   display: block; /* show credit */
   margin: 1rem 2rem 0 0;
   text-align: right;
}
}
